<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	</head>
	<body>
		<header class="header">
			{{ page.header }}

			<nav class="menu">
				{{ page.menu }}
			</nav>
		</header>
		<main class="main">
			<div class="content">
				{{ page.content }}
				{{ first_module_variable }}
			</div>
			{% if page.sidebar %}
				<div class="sidebar"></div>
			{% endif %}
		</main>

		<footer class="footer">
			{{ page.footer }}
		</footer>
	</body>
</html>
